@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
    height: 44px;

}

.navbar i {
    font-size: 1.5rem;
    color: #dadfe6;
}

.navbar i:nth-child(1) {
    color: #fe466d;
}

/* Fotos-Ações */
.fotos-e-ações {
    height: calc(100vh- 44px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    width: 98vw;
    height: 85vh;
    background: url(./imagens/manon.webp) center/cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    color: #eee;
    box-shadow: 0 10px 0 rgba(136, 136, 136, 0.77);
}

foto-texto {
    padding: 15px;
    background: #020024;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.72) 100%);
    border-radius: 15px;
}

.foto-nome-idade {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 1.4rem;
    gap: 20px;
}

.foto-nome-idade h2:nth-child(2) {
    margin-left: 10px;
    font-weight: 500;
}

.bio {
    line-height: 1.7rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.ações {
    display: flex;
    flex: auto;
    align-items: center;
    margin: 1rem 0;
}

.ação{
    background: #fff;
    box-shadow: 0 2px 6px o rgba(112, 125 , 134, 0.14);
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 2rem;
}

.ações .ação:nth-child(1){
    color: #fd5068;
}

.ações .ação:nth-child(2){
    margin: 0 1rem;
    color: #2db1ff;
    height: 48px;
    width: 48px;
    font-size: 1.5rem;
}

.ações .ação~:nth-child(3){
    color: #1be3a1;

}